main {
  background-color: darkmagenta;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hi {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes flyAcrossScreen {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    top: 50%;
    left: 50%;
    position: absolute;
  }
  25% {
    transform: translate(200vw, -200vh) rotate(90deg) scale(1.5);
    opacity: 0.8;
  }
  50% {
    transform: translate(400vw, -400vh) rotate(180deg) scale(1);
    opacity: 0.5;
  }
  75% {
    transform: translate(600vw, -600vh) rotate(270deg) scale(0.8);
    opacity: 0.3;
  }
  100% {
    transform: translate(50%, 50%) rotate(360deg) scale(1);
    opacity: 1;
  }
}

#toggle-img {
  display: block;
  margin: auto;
  animation: fadeInZoom 0.5s ease-out;
  cursor: pointer;
  height: 80%;
  transition: transform 0.4s ease-in-out;
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
